.ipynb_checkpoints/

run-local-server.sh
add-commit-push.sh

~$Planningg.xlsx
_site/*

hits_from_classification_models.sdf

Topic_03/Pharmacophore_Searching.docx
Topic_03/bc-sbvs-ls.pdf.old.pdf
Topic_03/gb-docking-ls.pdf.old.pdf

2040FBDBIC.code-workspace

